<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100">
    <form action="#" th:action="@{/registration}" th:object="${userDto}" method="post">
        <div class="form-outline mb-4">
            <input class="form-control" type="text" th:field="*{login}" id="login">
            <label for="login" class="form-label">Login</label>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
        </div>
        <div class="form-outline mb-4">
            <input class="form-control" type="password" th:field="*{password}" id="password">
            <label for="password" class="form-label">Password</label>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div class="form-outline mb-4">
            <input class="form-control" type="text" th:field="*{email}" id="email">
            <label for="email" class="form-label">Email</label>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <button class="btn btn-primary btn-block mb-4" type="submit">Sign up</button>
    </form>
</div>
</body>
</html>