<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add film</title>
</head>
<body>
<form action="#" th:action="@{/add-film}" th:object="${filmDto}" method="post">
  <input type="text" th:field="*{title}" id="title" minlength="1" maxlength="100">
  <input type="text" th:field="*{description}" id="description" minlength="1" maxlength="2000">
  <input type="text" th:field="*{genre}" id="genre" maxlength="45" minlength="1">
  <input type="number" th:field="*{duration}" id="duration" min="1" maxlength="3">
  <input type="text" th:field="*{imdbRating}" id="imdb_rating" minlength="1" maxlength="3">

  <button type="submit">Add film</button>
</form>
</body>
</html>