<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Choose available seats</title>
</head>
<body>
<form action="#" th:action="@{/ticket/buy/{id}(id = ${cinemaSession.id})}" th:object="${cinemaSession}" method="post" >
    <table>
        <tbody>
        <tr th:each="row : ${#numbers.sequence(1, 8)}">
            <td th:each="col : ${#numbers.sequence(1, 8)}">
                <input type="checkbox" th:id="seat" th:name="seat" th:value="${row} + '-' + ${col}"
                       th:disabled="${seats.contains(row, col)}">
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>
