<!DOCTYPE html>
<html>
<head>
    <title>Выбор места в кинотеатре</title>
</head>
<body>
<h1>Выберите место</h1>
<div>
    <h3>Схема зала</h3>
    <table>
        <tbody>
        <tr>
            <td></td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Ряд 1</td>
            <td><input type="checkbox" name="seat" value="1A"></td>
            <td><input type="checkbox" name="seat" value="1B"></td>
            <td><input type="checkbox" name="seat" value="1C"></td>
            <td><input type="checkbox" name="seat" value="1D"></td>
            <td><input type="checkbox" name="seat" value="1E"></td>
            <td><input type="checkbox" name="seat" value="1F"></td>
        </tr>
        <tr>
            <td>Ряд 2</td>
            <td><input type="checkbox" name="seat" value="2A"></td>
            <td><input type="checkbox" name="seat" value="2B"></td>
            <td><input type="checkbox" name="seat" value="2C"></td>
            <td><input type="checkbox" name="seat" value="2D"></td>
            <td><input type="checkbox" name="seat" value="2E"></td>
            <td><input type="checkbox" name="seat" value="2F"></td>
        </tr>
        <tr>
            <td>Ряд 3</td>
            <td><input type="checkbox" name="seat" value="3A"></td>
            <td><input type="checkbox" name="seat" value="3B"></td>
            <td><input type="checkbox" name="seat" value="3C"></td>
            <td><input type="checkbox" name="seat" value="3D"></td>
            <td><input type="checkbox" name="seat" value="3E"></td>
            <td><input type="checkbox" name="seat" value="3F"></td>
        </tr>
        </tbody>
    </table>
</div>
<button type="submit">Выбрать место</button>
</body>
</html>
