<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title th:text="#{info.seats}">Taken seats</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100">
    <table>
        <tbody>
        <tr th:each="row : ${#numbers.sequence(1, 8)}">
            <td th:each="col : ${#numbers.sequence(1, 8)}">
                <input type="checkbox" th:id="seat" th:name="seat" th:value="${row} + '-' + ${col}"
                       th:checked="${seats.contains(row, col)}" disabled>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:text="#{header.schedule}" th:href="@{/session/all}"></a>
</div>
</body>
</html>