<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Sessions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<header class="bg-dark py-3">
    <div class="container">
        <h1 class="text-white">Tickets</h1>
        <a class="text-white" th:href="@{/film/all}">Films</a>
        <a class="text-white" th:href="@{/sessiom/all}">Schedule</a>
    </div>
</header>
<table>
    <thead>
    <tr>
        <th>Session time</th>
        <th>Session film</th>
        <th>Your seats</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.session.time}"></td>
        <td th:text="${ticket.session.film.title}"></td>
        <td><a th:text="'Show seats'" th:href="@{/ticket/seats/{id}(id = ${ticket.session.id})}"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>