<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <img class="img-thumbnail" width="200" height="200" th:src="${film.posterLink}">
        <p th:text="${film.title}"></p>
        <p th:text="${film.description}"></p>
        <p th:text="${film.duration} + ' minutes'"></p>
        <p th:text="'IMDB: ' + ${film.imdbRating}"></p>
        <a th:text="Schedule" th:href="@{/session/all}"></a>
    </div>
</div>
</body>
</html>