<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Sessions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<header class="bg-dark py-3">
    <div class="container">
        <h1 class="text-white" th:text="#{header.films}">Films</h1>
        <a class="text-white" th:href="@{/session/all}" th:text="#{header.schedule}">Schedule</a>
        <a sec:authorize="hasAuthority('USER')" class="text-white" th:href="@{/ticket/user-tickets}" th:text="#{header.tickets}">Your tickets</a>
    </div>
</header>
<main class="container py-4">
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{info.title}">Title</th>
                    <th scope="col" th:text="#{info.description}">Description</th>
                    <th scope="col" th:text="#{info.genre}">Genre</th>
                    <th scope="col" th:text="#{info.duration}">Duration</th>
                    <th scope="col">IMDB</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="film : ${films}">
                    <td>
                        <a th:text="${film.title}" th:href="@{/film/{id}(id = ${film.id})}"></a>
                    </td>
                    <td th:text="${film.description}"></td>
                    <td th:text="${film.genre}"></td>
                    <td th:text="${film.duration}"></td>
                    <td th:text="${film.imdbRating}"></td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a th:text="#{admin.update}" th:href="@{/film/update/{id}(id = ${film.id})}"/>
                        <a th:text="#{admin.delete}" th:href="@{/film/delete/{id}(id = ${film.id})}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>