<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Sessions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<a th:href="@{/logout}">Logout</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Duration</th>
        <th>IMDB</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="film : ${films}">
        <td th:text="${film.title}"></td>
        <td th:text="${film.description}"></td>
        <td th:text="${film.genre}"></td>
        <td th:text="${film.duration}"></td>
        <td th:text="${film.imdbRating}"></td>
        <td sec:authorize="hasAuthority('ADMIN')">
            <a th:text="Update" th:href="@{/film/update/{id}(id = ${film.id})}"/>
            <a th:text="Delete" th:href="@{/film/delete/{id}(id = ${film.id})}"/>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>